{% extends "navbar.html" %}

{% block content %}
<main>
    <section class="card">
        <figure>
            <img src="./static/img/icons/lambreta.png" alt="Imagem do Projeto" width="150" height="auto">
        </figure>

        <article>
            <h2>Sistema LAP Informática</h2>
            <p>Este sistema de entrega de mercadorias é composto por três módulos distintos:</p>
            <h2>Aplicação do Cliente</h2>
            <p>Permite registro e login, solicitação de entregas, e acompanhamento do histórico de entregas.</p>
            <h2>Aplicação do Motoboy</h2>
            <p>Notifica sobre novos pedidos, utiliza geolocalização para otimizar as rotas, e fornece todas as
                informações necessárias para a execução do serviço.</p>
            <h2>Aplicação Desktop</h2>
            <p>Gerencia os outros dois aplicativos, oferecendo acesso ao histórico de serviços e a capacidade de editar
                regras de precificação.</p>
        </article>

        <a href="/manual"><button>Saiba mais</button></a>

    </section>
</main>

<style>
    main,
    html,
    body {
        overflow-y: hidden;
    }

    @media(max-width:370px) {

        main,
        html,
        body {
            overflow-y: visible;
            height: 36em;
            display: flex;
            align-items: flex-start;
            justify-content: center;

        }

        nav figure {
            height: 1px;
            margin-top: 0.5em;
        }


    }

    @media(max-width: 300px) {
        body {

            height: 38em;

        }

        nav figure {
            height: 1px;
            margin-top: 0.5em;
        }
    }
</style>


{% endblock %}